
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### .idea ###
.idea
.idea/*

### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

#Omitir imagenes
static/documentos/postventa/escrituracion/**/*.jpg
static/documentos/postventa/escrituracion/**/*.jpeg
static/documentos/postventa/escrituracion/**/*.pdf
static/documentos/postventa/escrituracion/**/*.xlsx
static/documentos/postventa/escrituracion/**/*.xls
static/documentos/postventa/escrituracion/**/*.csv
static/documentos/postventa/escrituracion/**/*.jfif
static/documentos/postventa/escrituracion/**/*.mp4

# omitir base en application
application/cache/*
application/config/*
application/core/*
application/helpers/*
application/hooks/*
application/libraries/*
application/logs/*
application/migrations/*
application/third_party/*

# omitir build en dist
dist/build/*

#omitir plugs en static
static/angular/*
static/yadcf/*

#omitimos todo core (no cambia)
system/*
user_guide/*